.hc__wrapper {
    width: 100%;
    margin-top: 39px;

    .hc__container {
        max-width: 1160px;
        height: 100%;
        margin: auto;
        margin-bottom: 50px;
        .hc__content {
            display: flex;
            justify-content: space-between;
            .hc__leftContent {
                width: 65%;
                height: auto;
            }
            .hc__rightContent {
                width: 32%;
                height: auto;
            }
        }
    }
    .hc__footer {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: #ffffff;
    }
    .hc__copy {
        text-align: center;
        padding: 20px;
        color: #333;
        opacity: 0.5;
    }
}
@media (max-width: 1080px) {
    .hc__wrapper {
        .hc__container {
            max-width: 1080px;
            .hc__content {
                margin: 0 20px;
            }
        }
    }
}
